<div class="main-container">
  <div mode="side" opened class="side-nav" [ngClass]="{collapsed}">
      <div class="menu">
        <div class="logo-container">
          <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button> -->
            <mat-icon class="button-icon">diversity_2</mat-icon>
            <h3 class="app-title" [ngClass]="{collapsed}">Awesome App</h3>
        </div>

          <nav>
              <!-- Add Navigation buttons or anything else here -->
          </nav>
      </div>
      <button class="toggle-collapse" mat-raised-button (click)="toggleCollapse()">
          {{ collapsed ? '' : 'Collapse' }}
          <mat-icon class="button-icon">{{ collapsed ? 'east' : 'west' }}</mat-icon>
      </button>
    </div>
  <div class="main-content" [ngClass]="{collapsed}">
    <mat-toolbar>

     <span>Welcome</span>

   </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>
