/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html,
body {
    height: 100%;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

$app-typography: mat.define-legacy-typography-config(
    $font-family: "'Work Sans', sans-serif",
);

@include mat.all-legacy-component-typographies($app-typography);
